*.iml
.gradle
/local.properties
/.idea
/build
/captures
.externalNativeBuild
.cxx
.artifacts/
.DS_Store
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
.navigation/
captures/
.externalNativeBuild/
.cxx/
local.properties
